<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 生产方应用名称-->
	<dubbo:application name="provider" />

	<!-- 使用zookeeper作为注册中心，zookeeper服务器地址 -->
	<dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />

	<!-- here we demonstrate both annotation-based and xml-based configs -->
	<dubbo:annotation package="com.sinoiov.lhjh.file.service.impl.*" />
	
	<!-- dubbo协议 -->
	<dubbo:protocol name="dubbo" port="20880" />
	
	<!-- hessian协议 -->
	<dubbo:protocol name="hessian" port="20881" server="jetty" />

	<!-- 上传文件服务 -->
	<dubbo:service interface="com.sinoiov.lhjh.file.intf.FileUploadService" ref="fileUploadServiceImpl" protocol="dubbo,hessian" path="hessian/FileUploadService"/>	

</beans>