<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!-- 消费方应用名称  -->
    <dubbo:application name="consumer"/>

	<!-- 使用zookeeper作为注册中心，zookeeper服务器地址 -->
	<dubbo:registry id="fileService" protocol="zookeeper" address="127.0.0.1:2181" />

	<!-- 上传文件服务 -->
	<dubbo:reference id="fileUploadService" 
					interface="com.sinoiov.lhjh.file.intf.FileUploadService"
					registry="fileService"
					retries="0"
					timeout="10000" />
</beans>